.header {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.856);
  height: 100px;
  width: 100%;
  z-index: 1;
  color: white;
}

.character-container {
  justify-self: start;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 20px;
  gap: 10px;
}

.characters > * {
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 50px;
}
