.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: row;
  background: rgba(169, 169, 169, 0.486);
  height: 100px;
  width: 100%;
}

.characters {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  gap: 10px;
}

.characters > * {
  align-self: flex-end;
  height: 50px;
}

.timer {
  margin: auto;
  color: white;
  font-size: 2em;
}
