.map-selection {
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: black;
  color: white;
  overflow: scroll;
}

.intro {
  font-size: 3em;
  padding: 20px;
}

.maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.map-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
}

.map-choice img {
  width: 200px;
  border-radius: 10px;
}

.map-choice p {
  text-align: center;
  font-weight: bold;
}

.map-choice button {
  background: rgba(128, 128, 128, 0.562);
  border: 1px solid lime;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.map-choice button:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 750px) {
  .maps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .map-selection {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
