.scoreboard {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 125px;
  height: 75%;
  width: 75%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

.restart-btn {
  background: rgba(128, 128, 128, 0.562);
  border: 1px solid lime;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.restart-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.score-spot {
  width: 75%;
  height: 25px;
  background: rgba(0, 0, 0, 0.514);
  border: 1px solid rgba(0, 255, 0, 0.705);
  border-radius: 10px;
  margin: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  overflow: hidden;
}

.score-spot .place {
  margin-left: 25px;
}

.score-spot .name {
  margin-left: 50px;
}

.score-spot .time {
  margin-right: 10px;
}

.ten .place {
  margin-left: 18px;
}

.banner {
  width: 75%;
  height: 50px;
  background: rgba(0, 255, 0, 0.74);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .place {
  margin-left: 10px;
}

.banner .time {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .scoreboard {
    width: 100%;
  }
  .score-spot {
    width: 100%;
  }
  .banner {
    width: 100%;
    justify-content: space-evenly;
  }
}
